@import 'vendor/bootstrap.min.css'
@import 'vendor/bootstrap-responsive.min.css'
@import 'base_view'

.navbar-pad
  padding-top: 50px

body
  &.loading
    .loading-indicator
      display: block

.loading-indicator
  display: none
  float: right
  color: white
  line-height: 40px
